<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div id="app" class="container">
            <div class="sidebar">
                <div class="head bor">
                    <img class="avatar-io" src="/img/avatar_io.jpg" alt="avatar_io">
                    
                    <div class="mar-10 dis-n">
                        <i class="mar-10 fa-solid fa-circle-notch"></i>
                        <i class="mar-10 fa-solid fa-message"></i>
                        <i class="mar-10 fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    
                </div>
                <div class="notification">
                    <i class="fa-solid fa-bell-slash"></i>
                    <div class="mar-l-15"> 
                        <p class="mar-7">Ricevi notifiche di nuovi messaggi</p>
                        <a class="silver" href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                    <input class="inizia" type="text" v-model="cercando" placeholder="Cerca o inizia una nuova chat" autocomplete="off">                
                </div>
                <div class="chat"> 
                    <div v-for="(contact, index) in filteredContacts()" :key="index" class="dis-flex avatar-3" @click="selectContact(index)">
                        <div class="flex-0">
                            <img class="avatar-2" :src="contact.avatar" :alt="contact.name">
                        </div>
                        <div class="dis-n flex-1">
                            <h3 class="dis-spa">
                                <p>{{ contact.name }}</p>
                                <small class="ligthsilver">16:15</small>
                            </h3>
                            <small class="ligthsilver">ultimo messaggio inviato</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="head bar ber">
                    <div class="dis-f">
                        <img class="mar-l-10 avatar-1" src="/img/avatar_1.jpg" alt="avatar_1">
                        <div>
                            <p class="mar-7">Michele</p>
                            <p class="lor-sil">Ultimo accesso alle 16:26</p>
                        </div>
                        
                    </div>
                    <div class="mar-10">
                        <i class="mar-10 fa-solid fa-magnifying-glass"></i>
                        <i class="mar-10 fa-solid fa-paperclip"></i>
                        <i class="mar-10 fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="conversation" v-if="activeContactIndex !== null">
                    <div v-for="(message, index) in contacts[activeContactIndex].messages" :key="index">
                        <!-- Mensaje enviado -->
                        <div v-if="message.status === 'sent'" class="message-right">
                            <div class="square green">
                                <p>{{ message.message }}</p>
                                <div class="info-messaggi">
                                    <i class="fa-solid fa-chevron-down"></i>
                                    <p class="lor-sil">{{ message.date }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Mensaje recibido -->
                        <div v-else class="message-left">
                            <div class="square white">
                                <p>{{ message.message }}</p>
                                <div class="info-messaggi">
                                    <select name="" id="">
                                    <option disabled selected style="display:none;"><i class="fa-solid fa-chevron-down"></i></option>
                                    
                                    <option value="a">Info image</option>
                                    <option value="a">Delete image</option>
                                    </select>
                                    
                                    <p class="lor-sil">{{ message.date }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <footer class="message">
                    <i class="fa-regular fa-face-smile"></i> 
                    <!-- Input per il testo del messaggio -->
                    <input class="scrivi" type="text" v-model="newMessage" @keyup.enter="sendMessage" placeholder="Scrivi un messaggio">
                    <!-- Icona per inviare il messaggio -->
                    <i class="fa-solid fa-microphone" @click="sendMessage"></i>
                </footer>
            </div>
        </div>
    </main>
</main>
<!-- javascript (vue)-->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!-- javascript -->
<script src="js/main.js"></script>
</body>
</html>